<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Honorary Chocolate Cake</string>
		<string>Honorary Chocolate Cake</string>
		<string>This is an Honorary Chocolate Cake to celebrate the making of this app. This cake is super delicious and is hehehehe hohohohoho who whow hwoooo whooo he hoow hoe how ehuwh nene enene enene nene nean ean ean enen ytuijis sdof odhfgo jsd ajd fdsiugous fhudshofuhou gusdfu uu dduduc nsadagaz aza fhu sh si aii oauh  asdfjkl</string>
		<string>skjfsdjkfb sdbfksdb fsgdifsdif gsidfisdfu sdyf gysudg fuysd gfuys dufys dufsdguyf gysdu gfsuyd gfuysdg fuysdg fuydsguyf gsduyf gsydu fusydgf suyg fsudyg fdsuygf dsuy gfuysd fuysgd fyug dsuyfg suyd uysdg uysdg fuysdg fuy dsuyf gsuydgf usydg fuygweyugwyfg sxzf</string>
		<string>Use 1 pound of skjisjsbdh and boil it for 34 minutes in the fuysd boy. Then mix gsyduf and suyg in a pan. Then put the oven in the cake for 45 seconds dsuyg</string>
	</array>
	<array>
		<string>Secondary Vanilla Ice Cream Cake</string>
		<string>Secondary Vanilla Ice Cream Cake</string>
		<string>This is a vanilla ice cream cake that is delicicious. It deliciousness does not surpass the Honorary Chocolate Cake, because this cake is vanilla and the other is choloclate. The making time is okay too and will require that you sleep a bit because ice cream is cravingly painful to make. Here are some random filler words. nfkjsdnfks jskfjksdfn dskj fjsfkjs bfkjdsb fkhjsdbfkjhsb dfhjbs hkdfb dhksb fkdhsb fkhsdb fkbskfhbsd cake :)</string>
		<string>10 lbs sugar \n 1 lb cake, 243 eggs, 1 Alexa, 2 Siri, 2342 node of google, your incinerated egg, some smoke and a witches pot.</string>
		<string>mix the 10 lbs of sugar with the cake. 243 eggs are blended with one siri. Throw the other siri. shove the alexa into the witches pot and ask her what time is it. Then say &quot;Alexa play final countdown&quot;</string>
	</array>
</array>
</plist>
